@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

:root {
  --background:  #dbaca2 ;
  --foreground: #A2d1db;
  --text-shadow: 2px 2px black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Chewy;
  text-shadow: var(--text-shadow);
}

.parentC {
  display: flex;
  flex-direction: row;
  height: 200px;

  border: 2px solid red;
  border-radius: 0.5em;
}

.childC {
  border: 2px solid rgb(75 70 74);
  border-radius: 0.5em;
  width: 50%;
  align-content: center;
  justify-items: center;
}

.container {
  border: 2px solid rgb(75 70 74);
  border-radius: 0.5em;


  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dateInputValue {
  padding: 20px;
  width: inherit;
  font: 300% Chewy;
}
