@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

:root {
  --background:  #dbaca2 ;
  --foreground: #A2d1db;
  --text-shadow: 2px 2px var(--accent-text);
  --accent: #F4DD85;
  --accent-text: #4D4E66;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #var(--background);
    --foreground: var(--foreground);
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Chewy;
  text-shadow: var(--text-shadow);
}

.parentC {
  display: flex;
  flex-direction: row;
  height: 200px;

  border: 2px solid red;
  border-radius: 0.5em;
}

.childC {
  border: 2px solid rgb(75 70 74);
  border-radius: 0.5em;
  width: 50%;
  align-content: center;
  justify-items: center;
  font-size: 200%;
  color: var(--accent);
}

.container {
  border: 2px solid rgb(75 70 74);
  border-radius: 0.5em;


  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dateInputValue {
  padding: 20px;
  width: inherit;
  font: 300% Chewy;
}

#dateInput {
  background-color: var(--foreground);
  color: var(--accent-text);
  font-size: 25px;
  margin-right: 10px;
  padding: 5px 0px 5px 10px;
}

.button {
  background-color: var(--accent);
  font: 150% Chewy;
  padding:20px;
  min-height:30px; 
  min-width: 120px;
  color: var(--foreground);
  text-shadow: var(--accent-text);
  border: none;
  border-radius: 50px;
}

.button:hover {
  cursor: pointer;
}